<div class="container">
    <ul class="box">
        <li><a href="recipes">Recipes</a></li>
        <li><a href="sessions">Sessions</a></li>
        <% if whats_picobrewing %>
            <li><a href="whats-picobrewing">What's Picobrewing</a></li>
        <% end %>
    </ul>
</div>
