<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PicoProxy</title>
    <link rel="icon" href="https://picobrew.com/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <style>
        .section { padding: 1rem; }
        .column { padding: .5rem; }
        .hidden { display: none; }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <a class="is-pulled-right" href="/logout">[Logout]</a>
            <h1 class="title">Pico Proxy</h1>
        </div>
        <div class="container">
            <%= yield %>
        </div>
    </section>
</body>
</html>
